*{
    box-sizing: border-box;
}

body{
    background-color: lightsteelblue;
    transition: background-color .3s;
}

.dark{
    background:rgb(88, 147, 224)
}

.menu{
      background-color: lightblue;
    font-size:150%;
    position:fixed;
    top:0;
    right:-300px;
    height:100%;
    width:300px;
    padding:20px;
    text-align: center;

    opacity:0;
    transition: opacity .3s, .1s, right .3s, background-color .3s;
}

.active{
    opacity:1;
    right:0;
}

.gear{
    background-color: lightblue;
    width:100px;
    height:100px;
    position:fixed;
    bottom:30px;
    left:30px;
    transition: rotate .3s;
}

.spin{
    rotate:180deg
}

.glow{
    background:#e2eec7
}
